{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h2>She Owns</h2>
        <h4>Find women owned companies and support your fellow females</h4>
    </div>
    <div class="container">

        <label for="search">What are you looking for?</label>
        <div class="input-group">

          <input type="text" class="form-control" id="search" placeholder="Insert Category">
          <span class="input-group-btn">
            <button id="find" class="btn btn-default" type="button">Find It!</button>
          </span>

        </div>

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: 400px;
      }

    </style>
    <div id="map"></div>
    </div>

{% endblock %}